/*
 Theme Name:   Portfolio Pierre Gabory
 Theme URI:    https://piergabory.com
 Description:  Writer child
 Author:       Pierre Gabory
 Author URI:   https://piergabory.com
 Template:     writer
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         not yours
 Text Domain:  writer
*/


/*RESETS-------*/

* {
    box-sizing: border-box;
    animation-fill-mode: backwards;
}

a {
    color: #111;
    text-decoration: none;
}

img {
    max-width: 100vw;
    max-height: 100vh;
    height: auto
}

body {
    margin: 0;
}

#wrapper {
    font: 400 1rem "Work Sans", sans-serif;
    background-color: #eee;
    color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 400 1rem "Space Mono", monospace;
    margin: 0;
}

input,
button {
    font: 400 1rem "Space Mono", monospace;
    border: none;
    background: none;
}

:focus {
    outline: none;
}


/*RESETS--------*/


/*HEADER--------*/

#header {
    background-color: #eee;
    padding: 2rem;
    min-height: calc(100vh - 16rem)
}

#branding * {
    color: #bbb;
    font-size: .8rem;
    display: inline;
}

#introduction {
	position:relative;
    font: 1rem "Space Mono", monospace;
    max-width: 25rem;
}

#introduction p {
    margin: 2rem 0;
}

nav {
    position: absolute;
    background-color: #222;
    padding: 3rem 1rem;
    width: 100%;
    height: 16rem;
    overflow: hidden;
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav.sticky{
    position: fixed;
    left: 0; top: 0; z-index: 4000;
    width: 100%;
    padding: 0;
    padding-left: 1rem;
    height: 3.5rem;
    display: flex;
}

nav.sticky #search .field{
    border-radius: 0;
}

nav+*{
    margin-top: 16rem;
}

nav>a {
    display: block;
    color: #eee;
    padding: 1rem 1rem;
	font:normal 1rem "Space Mono", monospace;
}

#search {
    position: relative;
    flex: 1;
}

#search .field {
    padding: 1rem 1rem;
    display: block;
    width: 100%;
    border-radius: 3px;
    transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#search .field::placeholder {
    color: #eee;
}

#search .field:focus {
    outline: none;
    background-color: #F8E81C;
    color: #111;
}

#search .field:focus::placeholder {
    color: #111;
}

#search .submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    padding: 1rem;
}

#search .field:focus + .submit {
    opacity: 1;
}


/*HEADER--------*/


/*CV------------*/

#cv {
    padding: 2rem;
    background-color: #222;
    color: #eee;
    min-height: 30rem;
    height: 70vh;
    position: relative;
    z-index: 10;
    overflow: hidden;
    perspective: 82rem;
}

#cv .text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    height: 10rem;
}

#cv a {
    display: block;
    background-color: #F8E81C;
    padding: .5rem;
}

#cv img {
    position: absolute;
    top:4rem;
    right: 10%;
    z-index: -1;
    max-width: 90%;
    object-fit: contain;
    transform: translateZ(5rem) translateY(100%) rotateY(-60deg) rotateX(10deg);
    /*transition: 900ms cubic-bezier(0.4, 0.0, 0.2, 1);*/
}

/*#cv:hover img {
    transform: translateZ(5rem) rotateY(-15deg) rotateX(0deg);
    transition: 900ms cubic-bezier(0.0, 0.0, 0.2, 1);
}*/


/*CV------------*/

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem;
    margin: 0 auto;
    max-width: 30rem;
}

article {
    position: relative;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0,0,0,.1), 0 0px 4px rgba(0,0,0,.1);
    margin: 3rem auto; 
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    background: #F5F5F5;
}

body:not(.single) article{
    background-color: #111;
    overflow: hidden;
}

.attachment-post-thumbnail{
	position: absolute;
	left: 0; top:0;
	object-fit: cover;
	width:100%; height: 100%;
	max-height: 100vh;
    overflow: hidden;
}
.attachment-post-thumbnail{
	position: relative;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p{
	position: static;
	max-width: 24rem;
    margin: 2rem;
    line-height: 1.4em;
    text-align: justify;
}

article img:not(.attachment-post-thumbnail){
    position: static;
    float: right;
    max-width: 24rem;
    width: calc(100% - 4rem);
    margin: 2rem;
}

article header {
    background-color: #f7ec6e;
    padding: 1rem 2rem;
}

article header>*,
article header>* a {
    margin: 1rem 0;
}

article .entry-title,
article .entry-title a {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111;
}

article .entry-content {
    padding: .1px;
    background-color: #FCFCFC;
}

article .entry-content a {
    background-color: #F8E81C;
    padding: .25rem 0;
}

body:not(.single) article {
    max-width: 24rem;
    height: 24rem;
    margin: 1rem;
}

body:not(.single) article header > *{
	margin:0; padding: 0;
}
body:not(.single) article header {
    position: absolute;
    top: 9rem;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
    width: auto;
    background-color: #F8E81C;
    padding: .5rem 1rem;
    opacity: 0;
    transition: 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    text-align: center;
}

body:not(.single) .attachment-post-thumbnail {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    transition: 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
body:not(.single) article:hover .attachment-post-thumbnail {
	left: -1%;
    top: -1%;
    width: 102%;
    height: 102%;
    transition: 10000ms cubic-bezier(0.0, 0.0, 0.2, 1);
}


body:not(.single) article:hover header {
    top: 7rem;
    opacity: 1;
}

body:not(.single) article .entry-content *:not(.attachment-post-thumbnail),
article footer {
    display: none;
}


/*body:not(.single) :hover>article:not(:hover) .attachment-post-thumbnail{
	opacity: .1;
	filter: grayscale(100%);
}*/


/*FOOTER--------*/

#footer {
    padding: 2rem;
    text-align: center;
    background-color: #333;
    color: #222;
}

#nav-below{
    display: flex;
    justify-content: space-between;
}

#nav-below a{
    color: #eee;
}

@media screen and (min-width: 54rem){
	#content{ max-width: 54rem; padding: 4rem 1rem;}
    article img:not(.attachment-post-thumbnail){
        margin: 2rem 0;
    }
}

@media screen and (min-width:88rem){
	#content{ max-width: 88rem; padding: 6rem 4rem;}
    article img:not(.attachment-post-thumbnail){
    position: static;
    float: right;
    width: auto;
    max-width: 52rem;
}

@media screen and (min-width:48rem){
	#header{
		padding:2rem 6rem;
	}

    nav:not(.sticky){
        padding: 2rem 5rem;
    }

    nav.sticky {padding-left: 6rem;}


	#introduction>*{
		display: list-item !important;
		list-style-type: decimal-leading-zero;
	}
	#introduction:before{
		content:" ";
		display:block;
		position: absolute;
		right:100%; top:0;
		width:30rem;
		height:100%;
		background-color:#EEE;
		z-index:2000;
		opacity:.8;
	}
}