/*
 Theme Name:   Mercury
 Theme URI:    https://piergabory.com
 Description:  Writer child
 Author:       Pierre Gabory
 Author URI:   https://piergabory.com
 Template:     writer
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         not yours
 Text Domain:  writer
*/

body{
	position: relative;
	font-size: 100%;
	font-weight: normal;
	font-family: "Work Sans", sans-serif;
	line-height: 1.5em;
	color: #222;
	background-color: #f8f8f8;

	margin:0;
	padding: 0;
	padding-bottom: 10rem;
	padding-top:1rem;
	min-height: 100vh;
	box-sizing: border-box;
}

#branding, #search,
h1, h2, h3, h4, h5, h6{
	font-family: "Space Mono";
	font-weight: normal;
	line-height: 1.5em;
	margin: 1rem 0;
}

a{
	color: #222;
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

:focus{outline: none;}

#site-title, #site-title a{
	font-size: 1rem;
}

#site-description{
	font-size: 2rem;
	line-height: 1.5em;
	margin: 1rem 0;
}

#search{
	position: relative;
}

#search .submit{
	position: absolute; right: 0%; top: 0;
	display: block; width: 5rem; height: 100%;

	font-size: 1rem;
	font-family: "Space mono", monospace;
	background-color: #ffffff;
	border: solid 1px #e7e7e7;

	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1), color 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
#search .submit:active{
	background-color: #e7e7e7;
}

#search .field:not(:focus) + .submit{
	opacity: 0;
	right: 50%;
}

#search .field{
	width: 6rem;
	padding: .25rem;

	font-size: 1rem;
	font-family: "Space mono", monospace;
	background: none;
	border: solid 1px transparent;
	border-radius: 5px;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#search .field:focus{
	width: 100%;
	background-color: #ffffff;
	border-color: #e7e7e7;
}

#header {
	max-width: 24rem;
	margin:1rem;
}

#content{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

body:not(.single) article{
	background-color: #fff;
	border: solid 1px #e7e7e7;
	border-radius: 5px;
	box-shadow: 0 1px 40px 1px rgba(0,0,0,.02);

	max-width: 20rem;

	padding: 1rem;
	margin: 2rem 1rem;
	padding-top: 20rem;
	padding-bottom: 6.5rem;

	position: relative;
	overflow: hidden;
}

body:not(.single) article img.attachment-post-thumbnail{
	position: absolute; left: 0; top:0;
	height: 20rem;
	object-fit: cover;
	border-bottom: 1px solid #e7e7e7;
}

body:not(.single) article footer{
	position: absolute; bottom: 0; left: 0;
	box-sizing: border-box;
	width: 100%; height: 4rem;
	padding: .5rem 1rem;
	background-color: #fcfcfc;
	border-top: #e7e7e7 solid 1px;
	color: #ccc;
	font-size: 1rem;
}
body:not(.single) article footer span{
	display: block;
	height: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

body:not(.single) article footer a{
	color: #ccc; font-style: italic;  
}

.more-link{
	padding: .25rem 2rem;
	display: block;
	text-align: center;
	width: 2rem; height: 1.5rem;
	font-family: "Space Mono", monospace;
	font-weight: bold;
	margin-left: auto;
	position: absolute;
	bottom: 5rem; right: 1rem;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1)
}
article:hover .more-link{	
	background-color: #F8E81C;
}

.entry-meta{
	display: none;
}

body.single article header h1{
	font-size: 2rem;
}

body.single article .entry-content p{
	max-width: 20rem;
}

body.single article footer {
	margin-left: auto;
	max-width: 20rem;
	text-align: right;
	color: #999;
}

body.single article footer a{
	font-style: italic;  
	color: #999;
}


body.single #container > footer a, #footer a {
	color:#eee;
}

body.single #container > footer, #footer {
	display: block;
	background-color: #333;
	color: #eee;
}

body.single #container > footer{
	position: absolute;
	left: 0;
	bottom: 3rem;
	width: 100%;
	padding: 2rem 2rem 2.5rem;
	height: 6rem;
	box-sizing: border-box;
}

#footer{
	color: #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5.5rem;
	padding: 2rem;
	box-sizing: border-box;
}

.nav-previous{
	float: left;
}

.nav-next {
	float: right;
}